::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #F8F9FB;
  font-family: 'Inter', sans-serif;
  color: #131722;
}

.input-field:focus {
  border-color: #526674;
  box-shadow: 0 0 0 2px rgba(82, 102, 116, 0.1);
}
